target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

.mvn
mvnw*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### Allure ###
./allure
*/.allure
.allure
allure-results


### GitLab CI ###
public/
.public
artifact-*
.artifact-*

### GitLab caching and Maven dependencies ###
./IGTools/
.m2/

# Terraform
.terraform
*.terraform
*/.terraform
*.tfplan
*.tfstate
*.tfstate.backup

.DS_Store